/*#box{
	
	width: 300px;
	height: 300px;
	margin-left: 10px;
	background: url("../img/camera.png");
	background: #00510F;

}

#box h1{

	background: rgba(255,255,255,0.5);
	border-bottom: 2px solid #fff;
	
}

#box p{
	font-family: "open_sansextrabold","Open Sans",Arial,Helvetica,sans-serif;	
	font-size: 20px;
	color: #fff;
}

.fonte-branca{
	color: #fff;
	font-size: 30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
*/

/*#box{
	
	width: 300px;
	height: 300px;
	margin-left: 10px;
	background: linear-gradient(80deg, red, yellow);
	background: radial-gradient(red, yellow, red, yellow);
}
*/

#box{
	
	width: 400px;
	height: 400px;
	margin: 50px auto;
	padding: 8px;
	background: #009670;
	/*box-shadow: 10px 10px black;*/
	box-shadow: 10px 10px 2px 2px rgba(0,0,0,0.5);
	/*box-shadow: 10px 10px 2px rgba(0,0,0,0.5), -10px -10px 2px red;*/


}

#box h1{

	color: white;
	font-size: 60px;
	/*text-shadow: 20px 20px 10px black;*/
	/*text-shadow: 20px 20px rgba(0,0,0,0.5);*/
	text-shadow: 4px 4px black;
}

/*Animações*/

/*Criar regra de animação*/

@keyframes animacao-box{

	from { 

		background: red; 
		border-radius: 0px; 
		top: 0px; 
		left: 0px;
	}

	to { 
		background: yellow;  
		border-radius: 200px; 
		top: 200px; 
		left: 200px;
	}

}



#box-animacao{

	width: 300px;
	height: 300px;
	background: red;
	position: relative;

	animation-name: animacao-box; 
	animation-duration: 5s;
	animation-delay: 3s;
	animation-iteration-count: 20;
	animation-direction: alternate;

	padding-left: 10px;
	margin-left: 10px;
	margin-top: 10px;

	/*animation: animation-box 5s 3s 2 alternate;*/

}

/*******************************************************************/
/*Transições*/

#box-transicao{
	width: 300px;
	height: 300px;
	background: orange;
}

#box-transicao:hover{
	width: 400px;
	background: black;
	/*transition: background 3s, width 8s;*/
	-webkit-transition: width 2s; /* Safari 3.1 to 6.0 */
	transition: all 2s;
}